<a href="https://colab.research.google.com/github/mxn170019/Programming_for_Data_Science/blob/master/Python%20Basics%20I_pre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BUAN 6340 Programming for Data Science

## Python Basics (Lecture 2)

### Part I: Your first python codes

Expression

In [1]:
# Task 1: Try out some arithmetic functions here: **, %, //, /, *

2**3

8

In [3]:
# Storing values in variables
spam = 40
spam

40

In [4]:
eggs = 2
spam + eggs

42

Print function

In [5]:
# Print function
print('Hello World')
print(555, 867, 5309) 
print(555, 867, 5309, sep="-")

Hello World
555 867 5309
555-867-5309

In [6]:
# Task 2: apply input() function to get the name and use print function to print it.
print("What is your name?")

What is your name?

In [7]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

The str(), int(), and float() functions

In [8]:
# Task 3: convert integer to string, float to int, int to float.
int('12')
str(13)

age = 12
s = "He is " + str(age) + ' years old'
print(s)

He is 12 years old

### Part II: Data Types

In [11]:
# Task 4: data types using type() function
a = 12
b = str(a)

print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

1. Boolean

In [12]:
1 == 2

False

In [13]:
1<2<3

True

In [14]:
(1==2) == False

True

2. String: A sequence of characters

In [26]:
# Task 5: print a string that have a single quote character in it. 
# Try to define the string using both single quote and double quote

# String: That is Alice's cat.


string = "That is Alice's cat"
string.split()

['That', 'is', "Alice's", 'cat']

In [15]:
# Indexing and slicing
spam = 'Hello world!'
print(spam[0])
print(spam[4])
print(spam[-1])
print(spam[0:5])
print(spam[:5])

H
o
!
Hello
Hello

In [16]:
'Hello' in "Hello World"

True

In [17]:
# Some string methods
print("Hello world".upper())
print("Hello world".lower())
print("Hello world".islower())

HELLO WORLD
hello world
False

In [18]:
'My name is Simon'.split()

['My', 'name', 'is', 'Simon']

In [19]:
"apple.tree".find('tr')

6

In [20]:
"Hello".rjust(20,'*')

'***************Hello'

In [21]:
"Hello".center(20,'*')

'*******Hello********'

### Part III: Data Structure

1. List: a container which holds comma separated values (items or elements) between square brackets where items or elements need not all have the same type.

In [22]:
# Read in a string that is separated with comma and turn it into a list
mystr="apple,pear,mango,orange"
newlist=mystr.split(",")
print(newlist)

['apple', 'pear', 'mango', 'orange']

In [45]:
# Make changes to a list - append
# append adds its argument as a single element to the end of a list. The length of the list itself will increase by one. 

# Make changes to a list - extend
# extend iterates over its argument adding each element to the list, extending the list. 
# The length of the list will increase by however many elements were in the iterable argument.

#Make changes to a list - insert

# Task 6: insert two elements, 'banana' and 'grape', to newlist




def reverse_input(input):
  x = input
  mid = []
  for i in x:
    mid.append(i)
  mid.reverse()
  mid
  y = ""
  for i in mid:
    y = y+i
  return(y)

reverse_input("Hello_world")

'dlrow_olleH'

In [61]:
x = "input"


  
def reverse(s): 
  str = "" 
  for i in s: 
    str = i + str
  return str

reverse(x)

'tupni'

In [0]:
# Tast 7: insert a nested list, ['strawberry','melon'], as a new element of newlist

In [0]:
# Task 8: insert a new element, 'starfruit', as the second element of newlist

In [0]:
#Make changes to a list - concatenate
mynewlst = ["coffee", "tea"]

# Task 9: combine newlist and mynewlst

In [0]:
# Task 10: delete one elemnt using del, remove, or pop

In [0]:
# Task 11: sort newlist

2. Dictionaries: dictionary contains a sequence of key:value pairs.

In [46]:
# To create a dictionary
gradebook = {}
gradebook['Susan'] = 87.0
gradebook['Peter'] = 94.0
gradebook['Tina'] = 99.9
gradebook

{'Peter': 94.0, 'Susan': 87.0, 'Tina': 99.9}

In [48]:
gradebook['Susan']

87.0

In [0]:
#To change an element
gradebook['Tina'] = [99.9, 95.7]
gradebook

{'Susan': 87.0, 'Peter': 94.0, 'Tina': [99.9, 95.7]}

In [0]:
# To add an element to a dictionary
gradebook.update({'Joe':90.0})
gradebook

{'Susan': 87.0, 'Peter': 94.0, 'Tina': [99.9, 95.7], 'Joe': 90.0}

In [0]:
gradebook['mandeep'] = ['mandeep']

In [51]:
gradebook.keys(),gradebook.values()

(dict_keys(['Susan', 'Peter', 'Tina', 'mandeep']),
 dict_values([87.0, 94.0, 99.9, ['mandeep']]))

In [0]:
gradebook.values()

dict_values([87.0, 94.0, [99.9, 95.7], 90.0])

In [0]:
gradebook.items()

dict_items([('Susan', 87.0), ('Peter', 94.0), ('Tina', [99.9, 95.7]), ('Joe', 90.0)])

In [0]:
# Task 12: compare the difference between copy() function and "=" operator
gradebook_2 = gradebook # will make the changes in the parent dict if we change anyhting in the gradebook_2
gradebook_1 = gradebook.copy() # wont affect any thing in the parent dict, with change in gardebook_1

In [58]:
gradebook_2['MandeepSingh'] = "10"

gradebook,gradebook_1,gradebook_2

({'MandeepSingh': '10',
  'Peter': 94.0,
  'Susan': 87.0,
  'Tina': 99.9,
  'mandeep': ['mandeep']},
 {'Peter': 94.0, 'Susan': 87.0, 'Tina': 99.9, 'mandeep': ['mandeep']},
 {'MandeepSingh': '10',
  'Peter': 94.0,
  'Susan': 87.0,
  'Tina': 99.9,
  'mandeep': ['mandeep']})

In [0]:
sorted(gradebook)

['Joe', 'Peter', 'Susan', 'Tina']

In [0]:
# Task 13: Could you concatenate three dictionaries together?
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}

3. Tuples

In [0]:
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
print(tuplex)
#adding items with index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
#converting the tuple to list
listx = list(tuplex) 
#use different ways to add items in list
listx.append(30)
tuplex = tuple(listx)
print(tuplex)
#convert tuple to a string
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str1 =  ''.join(tup)
print(str1)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3, 30)
exercises

In [0]:
# tuple is a sequence
a = (4,5)
b = (5,4)
a == b

False

4. Set

In [0]:
#Create a new empty set 
x = set()
print(x)
#Create a non empty set
x = set([0, 1, 2, 3, 4,2,1])
print(x)
#iterate set elements
for n in x:
  print(n)

set()
{0, 1, 2, 3, 4}
0
1
2
3
4

In [0]:
#to add elements to a set
#A new empty set
color_set = set()
# add() is to add one item
color_set.add("Red")
print(color_set)
#To add multiple items, have to use update()
color_set.update(["Blue", "Green"])
print(color_set)

{'Red'}
{'Blue', 'Green', 'Red'}