# BUAN 6340 Programming for Data Science

## Python Basics (Lecture 2)

### Part I: Your first python codes

Expression

In [1]:
# Try out some arithmetic functions here

2**3

8

In [2]:
22%8

6

In [3]:
2*10.0

20.0

In [4]:
22//8

2

In [ ]:
22/8

2.75

In [ ]:
3*5

15

In [ ]:
# Storing values in variables
spam = 40
spam

40

In [ ]:
eggs = 2
spam + eggs

42

Print function

In [ ]:
# Print function
print('Hello World')
print(555, 867, 5309) 
print(555, 867, 5309, sep="-")

Hello World
555 867 5309
555-867-5309

In [ ]:
print("What is your name?")
myName = input()
print("it is good to meet you, " + myName)
print(len(myName))

What is your name?

In [ ]:
help(print)

The str(), int(), and float() functions

In [ ]:
str(29)

In [ ]:
print('I am ' + str(29) + ' years old.')

In [ ]:
str(0)

In [ ]:
int(-99)

In [ ]:
int(1.25)

In [ ]:
float(10)

### Part II: Data Types

In [ ]:
# data types using type() function
type(1)

In [ ]:
type('hello world')

In [ ]:
type(None)

1. Boolean

In [ ]:
1 == 2

In [ ]:
1<2<3

In [ ]:
(1==2) == False

2. String: A sequence of characters

In [ ]:
# a string with double quotes can have a single quote character in it
spam = "That is Alice's cat"
print(spam)
# Escape characters
spam = 'Say Hi to Bob\'s mother.'
print(spam)

In [ ]:
print('That is Carol\'s cat.')
# raw strings
print(r'That is Carol\'s cat.')

In [ ]:
# Indexing and slicing
spam = 'Hello world!'
print(spam[0])
print(spam[4])
print(spam[-1])
print(spam[0:5])
print(spam[:5])

In [ ]:
'Hello' in "Hello World"

In [ ]:
# Some string methods
print("Hello world".upper())
print("Hello world".lower())
print("Hello world".islower())

In [ ]:
'My name is Simon'.split()

In [ ]:
"apple.tree".find('tr')

In [ ]:
"Hello".rjust(20,'*')

In [ ]:
"Hello".center(20,'*')

### Part III: Data Structure

1. List: a container which holds comma separated values (items or elements) between square brackets where items or elements need not all have the same type.

In [ ]:
#Read in a string that is separated with comma and turn it into a list
mystr="apple,pear,mango,orange"
newlist=mystr.split(",")
print(newlist)

In [ ]:
#Make changes to a list - append
# append adds its argument as a single element to the end of a list. The length of the list itself will increase by one. 
newlist.append(['strawberry','melon'])
newlist

In [ ]:
#Make changes to a list - extend
# extend iterates over its argument adding each element to the list, extending the list. The length of the list will increase by however many elements were in the iterable argument.
newlist.extend(['banana','grape'])
newlist

In [ ]:
#Make changes to a list - insert
newlist.insert(1, 'starfruit')
newlist

In [ ]:
#Make changes to a list - concatenate
mynewlst = ["coffee", "tea"]
newlist+mynewlst

In [ ]:
#Make changes to a list - del
del newlist[1]
#newlist.remove("coffee")
newlist
newlist.pop(2)

In [ ]:
newlist

In [ ]:
#Some useful functions
len(newlist)
mynewlst.sort()
mynewlst
mynewlst.sort(reverse = True)
mynewlst#Make changes to a list - concatenate
mynewlst = ["coffee", "tea"]
newlist+mynewlst

In [ ]:
#Some useful functions
newlist.reverse()
newlist

In [ ]:
#Some useful functions
len(newlist)
'apple' in newlist
'apple' not in newlist
newlist.index('apple')

2. Dictionaries: dictionary contains a sequence of key:value pairs.

In [ ]:
# To create a dictionary
gradebook = {}
gradebook['Susan'] = 87.0
gradebook['Peter'] = 94.0
gradebook['Tina'] = 99.9
gradebook

In [ ]:
#To change an element
gradebook['Tina'] = [99.9, 95.7]
gradebook

In [ ]:
# To add an element to a dictionary
gradebook.update({'Joe':90.0})
gradebook

In [ ]:
gradebook.keys()

In [ ]:
gradebook.values()

In [ ]:
gradebook.items()

In [ ]:
a = gradebook.copy()
a

In [ ]:
a.clear()
a

In [ ]:
bb = gradebook
aa = gradebook.copy()
gradebook['Tina'] =100
print(bb)
print(aa)

In [ ]:
sorted(gradebook)

In [ ]:
#Could you concatenate three dictionaries together?
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}

dict4={}
for d in (dict1,dict2,dict3):
    dict4.update(d)
print(dict4)

3. Tuples

In [ ]:
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
print(tuplex)
#adding items with index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
#converting the tuple to list
listx = list(tuplex) 
#use different ways to add items in list
listx.append(30)
tuplex = tuple(listx)
print(tuplex)
#convert tuple to a string
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str1 =  ''.join(tup)
print(str1)

In [ ]:
# tuple is a sequence
a = (4,5)
b = (5,4)
a == b

4. Set

In [ ]:
#Create a new empty set 
x = set()
print(x)
#Create a non empty set
x = set([0, 1, 2, 3, 4,2,1])
print(x)
#iterate set elements
for n in x:
  print(n)

In [ ]:
#to add elements to a set
#A new empty set
color_set = set()
# add() is to add one item
color_set.add("Red")
print(color_set)
#To add multiple items, have to use update()
color_set.update(["Blue", "Green"])
print(color_set)